{% extends "admin/base.html" %}
{% block title %}
    {{ title }}
    {{ site_title|default:_('Notícias.com') }}
{% endblock %}
{% block branding %}
<div style="width:50%; margin-left:320px; margin-right:auto;">
    <h1 id="site-name">
        <a href="/">
            {{ site_header|default:_('Notícias.com') }}
        </a>
    </h1>
</div>
{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block sidebar %}
<div style="width:50%; margin-left:auto; margin-right:auto;">
    <h5 style="color: #447e9b;">
        {{artigo.categoria}}
    </h5>
    {% if artigo.imagem %}
        <div>
            <img src="/{{ artigo.imagem }}" alt="Imagem da notícia" width="100%" heigth="100%">
        </div>
    {% endif%}
    <h1 style="color: #000000;">
        <b>
            {{ artigo.titulo }}
        </b>
    </h1>
    <h4 style="color: #000000;">
        Por {{artigo.autor}} - {{artigo.data_publicacao}}
    </h4>
    <p style="color: #000000;">
        {{ artigo.conteudo}}
    </p>
    <br><br>
</div>
{% endblock %}